*{
margin: .5em;
padding: 0;
}

body {
  /* background-color: #e6e6e6; */
  /* background-color: red; */
  background-color: white;
}

div.firstBox{
  background-color: black;
}

div.firstBox{
  width: 98%;
  min-height: 25em;
  position: relative;
  z-index: 1;
}

img#selfie{
  max-width: 22%;
  z-index: 2;
  position: absolute;
  left: 37%;
  bottom: 20%;
}

div.header{
  position: absolute;
  top: 3em; bottom: 0; left: 0; right: 0;
  margin: auto;
  /* height: 60%; */
  height: 15em;
  width: 90%;
}

/* div.header{
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
} */

div.header{
  font-family: Helvetica;
  background-color: #e6e6e6;
  color: black;
  text-align: center;
  padding-bottom: 1em;

}

h1{
  font-size: 3em;
  padding-top: 1em;
}

h2#intro-message {
  font-size: 1em;
}

h2 { /*for horizontal line*/
  display: flex;
  flex-direction: row;
}

h2:before, h2:after{ /*for horizontal line*/
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

h2:before { /*for horizontal line*/
  margin-right: 10px
}

h2:after { /*for horizontal line*/
  margin-left: 10px
}

div.headerContactDetails{
  width: auto;
  margin: auto;
  /* position: relative; */
  display: flex;
}

div#aboutMe{
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /* position: relative; */
  flex: 1;
  width: 20%;
  float: left;
  text-align: center;
  /* background-color: black; */
}

div#linkedin{
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /* position: relative; */
  flex: 1;
  width: 20%;
  float: left;
  text-align: center;
  /* background-color: black; */
}

div#github{
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /* position: relative; */
  flex: 1;
  width: 20%;
  float: left;
  text-align: center;
  /* background-color: black; */
}

div#email{
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  /* position: relative; */
  flex: 1;
  width: 20%;
  float: left;
  text-align: center;
  /* background-color: black; */
}

div.aboutMeSection{
  background-color: black;
  color: white;
  text-align: center;
}

h2#aboutMeHeader{
  font-size: 2em;
  padding-top: 1em;
}

div.aboutMePara{
  font-size: 1.1em;
}
